
p#intro {margin-top:50px;font-size:1.50em;}

.navbar{margin:0;}

#primary {background-color:#70C0FF;padding: 0px 0px 50px 0;}


#secondary {background-color:#FAFF64;padding: 50px 0px 50px 0;}

#third {background-color:#70C0FF; padding: 50px 0px 50px 0;}

#fourth {background-color: #C40313;padding: 50px 0px 50px 0;}

#final {background-color:#FAFF64;padding: 50px 0px 50px 0;}

*{font-family:Georgia;}

#font {font-size:110px;}
