* {font-family:Georgia;
	color: FFFFFF;
background-color: #51BAAA;
}

h1 { color: #C0C0C0;}

h2 { color: #C0C0C0;}

h3 { color: #C0C0C0;}

h4 {color: #C0C0C0;}

a: link{ 
	color:#377F74;
	font-style: Italic;} 
