
* {font-family:Georgia;
	color: FFFFFF;
background-color: #C2C2D6;
}

h1 { color: #000000;}

h2 { color: #000000;}

h3 { color: #000000;}

a: link{ 
	color:#C0C0C0;
	font-style: Italic;} 
	
	body {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 980px;
  text-align: center;
}

.square { 
	text-align:center;
	margin: auto;}
	
	#intro { 
		text-align:center; 
	}

	div{ 
		text-align: center;
		floating: center;}
 
