
* {font-family:Georgia;
	color: FFFFFF;
background-color: #E6B8E6;
text-align:center;}

h1 { color: #000000;}

h2 { color: #000000;}

h3 { color: #000000;}

.square { 
	text-align:center;
	display:inline block;
	margin: auto;}
	
	#intro { 
		text-align:center; 
		floating: center;
	}

	div{ 
		text-align: center;
		floating: center;}

